---
import Layout from "@/components/Layout.astro"
---

<Layout title="About Us - Flight Explorer">
  <main class="flex flex-col px-4 lg:max-w-[1000px] lg:mt-10 mb-20 mx-auto">
    <h1>About Us</h1>

    <p>
      Welcome to Flight Explorer, your ultimate destination for imaginary adventures in the sky! At Flight Explorer, we
      specialize in crafting fictional flight experiences, offering you a whimsical journey through the world of
      make-believe travel.
    </p>

    <h2>Our Vision: Dream, Explore, Imagine</h2>

    <p>
      At Flight Explorer, we believe in the power of imagination. Our vision is to provide a platform where dreamers,
      explorers, and adventurers can come together to embark on incredible journeys without leaving the comfort of their
      seats. Whether you're planning an imaginary escape to exotic destinations or simply curious about the
      possibilities, Flight Explorer is here to fuel your imagination.
    </p>

    <h2>Why Choose Flight Explorer?</h2>

    <ol>
      <li>
        <strong>Unlimited Destinations:</strong> Explore a vast array of make-believe destinations, from enchanted islands
        to futuristic cities. Our database is filled with whimsical locations waiting for you to discover.
      </li>
      <li>
        <strong>Fantasy Airlines:</strong> Experience the charm of our fantasy airlines, each with its own unique features
        and services. From magical in-flight entertainment to unrealistically spacious seating, we've thought of every detail
        to make your imaginary flight exceptional.
      </li>
      <li>
        <strong>Budget-Friendly Fiction:</strong> At Flight Explorer, we understand the value of a good deal. Enjoy competitive
        and imaginary prices that won't break the bank. Your dream vacation is just a few clicks away!
      </li>
      <li>
        <strong>Dreamy Customer Support:</strong> Our dedicated team of dream-weavers is available 24/7 to assist you with
        any inquiries, whether it's choosing the perfect fantasy destination or troubleshooting your virtual boarding pass.
      </li>
    </ol>

    <h2>How It Works:</h2>

    <ol>
      <li>
        <strong>Browse Fantastical Destinations:</strong> Dive into our catalog of whimsical destinations and choose the
        perfect backdrop for your daydreams.
      </li>
      <li>
        <strong>Select Your Fantasy Flight:</strong> Pick from a variety of fantasy airlines and customize your flight experience
        according to your wildest imaginations.
      </li>
      <li>
        <strong>Compare Imaginary Prices:</strong> Enjoy the thrill of price comparison, even though every option is equally
        fantastic. Marvel at the imaginary savings!
      </li>
      <li>
        <strong>Book Your Dream Flight:</strong> Seal the deal by "booking" your dream flight. Receive a virtual boarding
        pass and let your imagination take flight.
      </li>
    </ol>

    <h2>Join the Adventure:</h2>

    <p>
      Ready to embark on a journey like no other? Join the Flight Explorer community and let your imagination soar to
      new heights. Whether you're a seasoned dreamer or a first-time explorer, Flight Explorer welcomes you to a world
      where the sky's the limit.
    </p>

    <p>Discover, dream, and explore with Flight Explorer - because every adventure begins with a flight of fancy!</p>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3 {
    @apply text-center font-bold mt-6 lg:mt-12 mb-4;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @applu text-2xl;
  }

  p li {
    @apply text-lg;
  }
</style>
