---
import "@/styles/globals.css"
import Layout from "@/components/Layout.astro"
import SearchSection from "@/components/SearchSection.astro"
---

<Layout title="Welcome">
  <SearchSection />
  <h1>Welcome Astro</h1>
</Layout>
