---

---

<header
  class="bg-sky-900 shadow-2xl flex h-12 w-screen px-2 lg:h-10 justify-between lg:justify-center content-center text-center text-gray-200 gap-x-12"
>
  <a href="/" class="my-auto">Flight Explorer</a>
  <a href="/" class="my-auto hidden lg:block">About</a>
  <a href="/" class="my-auto hidden lg:block">Home Page</a>
  <a href="/" class="my-auto hidden lg:block">Home Page</a>
  <button class="lg:hidden" >Menu</button>

  <div class="hidden lg:hidden min-h-screen min-w-full bg-white absolute top-0 left-0 z-10 flex-col">
    <h2>Mobile menu</h2>
  </div>
</header>
