---

---

<header
  class="bg-sky-900 shadow-2xl flex h-14 w-screen px-2 lg:h-10 justify-center content-center text-center text-gray-200 gap-x-12"
>
  <a href="/" class="my-auto">Flight Explorer</a>
  <a href="/about" class="my-auto">About</a>
  <a href="https://github.com/brkunver/flight-explorer" target="_blank" class="my-auto hidden lg:block">Our Corporation</a>

</header>


<style>
  a {
    @apply font-bold text-lg;
  }
</style>