---
import { Image } from "astro:assets";
import backgroundImage from "@/assets/bg-wide.png"
---



<div class="relative bg-gray-600">
    <Image src={backgroundImage} alt="Background image" class="absolute top-0 left-0 w-full z-[-1]"/>    
</div>